.App-header {
  background-color: #eddada;
  display: flex;
  font-size: calc(10px + 3vmin);
  color: white;
  table-layout: fixed;
  width: 100%;
}
.App{
  width: 100%;
  height: 100%;
}

.Main-Title {
  color: #6F000B;
  padding-left: 20px;
  font-family: "PixelPlus";
  width:100%;
}
.Header2{
  float: right;
  width: 100%;
}
.Game-Title{
  color: #6F000B;
  font-family: "PixelPlus";
  float: right;
  text-align: center;

}

.MainBody {
  background-color: #f2eaea;
  min-height: 100vh;
  display: flex;
}

.Game-List{
  color: #6F000B;
  text-align: right;
  width: 100%;
  font-family: "PixelPlus";
}

.Temp{
  width: 50%;
}

.Main-Layout{
  width: 100%;
  height: 100%;
}

